:root.dark {
  color-scheme: dark;

  --color-primary: #165c94;
  --color-primary-light-3: #165f99;
  --text-color-primary: #CFD3DC;
  --input-border-color: #454847;
  --input-placeholder: #a49b8d;
  --popper-body-bg-color: #1d1e1f;
  --popper-bg-color: #1d1e1f;
}
