:root.dark {
  color-scheme: dark;

  --color-primary: #165c94;
  --color-primary-light-3: #165f99;
  --text-color-primary: #cfd3dc;
  --input-bg-color: transparent;
  --input-border-color: #454847;
  --input-placeholder: #a49b8d;
  --input-hover-icon-color: #a3a6ad;
  --input-icon-color: #8d9095;
  --popper-body-bg-color: #161618;
  --popper-footer-bg-color: #1d1e1f;
  --popper-bg-color: #1d1e1f;
  --fill-color: #262727;
  --border-color: #1d1e1f;
}
