:root {
  color-scheme: light;

  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
  --color-info: #999;
  --color-primary: #128bed;
  --color-primary-light-3: #0069bf;
  --color-danger: #ff6060;
  --text-color-primary: #333;
  --transition-box-shadow: box-shadow var(--transition-duration-fast)
  var(--transition-function-ease-in-out-bezier);
  --transition-duration-fast: 0.2s;
  --transition-function-ease-in-out-bezier: cubic-bezier(0.645, 0.045, 0.355, 1);
  --input-bg-color: '#fff';
  --input-border-radius: 2px;
  --input-border-color: #d8d8d8;
  --input-focus-border-color: var(--color-primary);
  --input-focus-border-outline: rgb(24 144 255 / 20%);
  --input-text-color: var(--text-color-primary);
  --input-icon-color: rgb(0 0 0 / 25%);
  --input-hover-icon-color: rgb(0 0 0 / 45%);
  --input-placeholder: #86909c;
  --font-size: 14px;
  --line-height: 32px;
  --input-height: calc(var(--line-height) - 2px);
  --button-text-color: #fff;
  --button-bg-color: var(--color-primary);
  --button-hover-bg-color: var(--color-primary-light-3);
  --popper-bg-color: #fff;
  --popper-body-bg-color: #f8fbfe;
  --popper-box-shadow: 0 6px 16px 0 rgb(0 0 0 / 8%),
  0 3px 6px -4px rgb(0 0 0 / 12%),
  0 9px 28px 8px rgb(0 0 0 / 5%);

  --fill-color: #f2f8fe;

  --border-color: #eee;
}
